<html lang="en">
    <head>
        <title>Purrfect Dashboard</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h2 class="p-4">Purrfect Pets Dashboard</h2>

        <br>

        <div class="container col-6 py-3">

            <h3>Aggregate Statistics</h3>
            <table class="table">
                <tr>
                    <td>Total Orders:</td>
                    <td>{{ aggregate_stats.total_orders }}</td>
                </tr>

                <tr>
                    <td>Total Orders in {{ now.month }}/{{ now.year }} :</td>
                    <td>{{ aggregate_stats.total_orders_this_month }}</td>
                </tr>

                <tr>
                    <td>Orders in progress:</td>
                    <td>{{ aggregate_stats.orders_in_progress }}</td>
                </tr>

                <tr>
                    <td>Total Revenue:</td>
                    <td>{{ aggregate_stats.total_revenue_formatted }}</td>
                </tr>
            </table>

        </div>

        <br>

        <div class="container col-10 py-3">

            <h3>Recent Orders</h3>

            <table class="table">
                <tr>
                    <th>Order ID</th>
                    <th>Order Placed</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Email</th>
                    <th>Order Status</th>
                </tr>
                {% for recent_order in aggregate_stats.recent_orders %}
                    <tr>
                        <td>{{ recent_order.order_id }}</td>
                        <td>{{ recent_order.order_placed }}</td>
                        <td>{{ recent_order.product_name }}</td>
                        <td>{{ recent_order.price_formatted }}</td>
                        <td>{{ recent_order.email }}</td>
                        <td>{{ recent_order.order_status.value }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>

        <p class="px-4"><em>data from {{ now.isoformat() }}, refresh to update</em></p>
    </body>
</html>
